/* **************************************** 1 page ******************************************* */

.post-pet {
  width: 48px;
  height: 48px;
  border-radius: 80%;
  position: relative;
  object-fit: cover;
}
.btnNew {
  font-size: 0.5rem;
}
.pic-drop {
  display: flex;
  width: 92%;
  margin: 0 auto;
}
.input-post {
  border: none;
  background-color: white !important;
  height: calc(7.9em + 1rem + 8px);
  font-size: 1.4rem;
}
.createpost {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.backgroundicon-color {
  cursor: pointer;
  width: 9%;
  border: 2px solid gray;
  border-radius: 8px;
  cursor: pointer;
  padding: 2px;
}
.backgroundicon-div {
  width: 90%;
  margin: 2% auto;
}
.emoji-color {
  display: flex;
  justify-content: space-between;
}
.icons-addpost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.post-div {
  padding: 1% 1%;
  margin: 0.5% auto;
  width: 90%;
}
.post-btn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  margin: 0.5%;
}
.add-to-your-post-text {
  font-size: 0.9375rem;
  font-weight: 600;
  color: black;
}
.new-post-icons {
  margin-bottom: 0;
  cursor: pointer;
}
.icons-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.post-button {
  width: 100%;
  background-color: rgba(29, 161, 242, 1);
  border: none;
  padding: 1.5%;
  border-radius: 5px;
  color: white;
}
.world-public-icon {
  width: 15px;
  height: 15px;
}
.name-public {
  display: flex;
  flex-direction: column;
}
.world-public-div {
  background: gainsboro;
  border-radius: 4px;
  padding: 0 3%;
  display: flex;
  width: fit-content;
  align-items: center;
}
.public-text {
  font-weight: 600;
  font-size: 0.7rem;
}
.name-drop {
  margin: 0% 3%;
  display: flex;
}
.react-player-video {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-player-video2 {
  width: 200px !important;
  height: 129px !important;
}

/* *********************** 2 page ********************** */

.back-icon {
  background: #e4e6eb;
  width: 9% !important;
  border-radius: 55px;
  height: 4% !important;
  padding: 5px;
}
.selectprivacy {
  text-align: center;
  font-size: 0.9rem !important;
}
.back-p {
  display: flex;
}
.select-privacydiv {
  margin: 5% 0 0 24%;
}

.group-icon-privacy {
  background: #e4e6eb;
  width: 15% !important;
  border-radius: 55px;
  /* height: 12% !important; */
  padding: 15px;
}
.para-friends {
  margin-right: 32%;
}

.all-privacy-icon-1 {
  display: flex;
  justify-content: space-between;
  margin: 4% 0% auto;
}

.group-icon-privacy-expcep {
  background: #e4e6eb;
  width: 15% !important;
  border-radius: 55px;
  height: 12% !important;
  padding: 15px;
}

.para-friends-readonly {
  margin-right: 61%;
}

.para-friends-specific {
  margin-right: 44%;
}

.makeStyles-paper-11 {
  border: none !important;
  border-radius: 10px;
}

.name-emoji {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}
.background-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0%;
  /* width: 470px; */
  height: 200px;
}

.background-div-text {
  font-size: 27px;
  background: transparent;
  border: 0;
  color: white !important;
  display: flex;
  flex-direction: column;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  font-size: 1rem;
  text-align: center;
}
.isfeeling {
  font-size: 12px;
  color: gray;
  margin-left: 5px;
}
textarea:focus,
select:focus {
  outline: none;
}
.new-post-header {
  display: flex;
  justify-content: space-between;
}
.space-createpost {
  width: 25%;
}
.createpost-closeicon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  cursor: pointer;
}
.createpost {
  width: 50%;
}
.makeStyles-paper-19 {
  border-width: 0px;
}
