.menu-item {
  margin: 0 1px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.menu-item-wrapper.active {
  display: inline-block;
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 1px 0px;
  margin: 0 2px;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
